<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,416},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,452},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,416},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,456},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,420},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,456},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,420},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,478},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,476},{34,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{34,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,166},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blink_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,162},{2,2}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{2,2}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,40},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>blink_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,278},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>brand_copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{122,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{122,10}}</string>
                <key>sourceSize</key>
                <string>{126,14}</string>
            </dict>
            <key>button_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,338},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,278},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,342},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,278},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,278},{62,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{62,36}}</string>
                <key>sourceSize</key>
                <string>{74,48}</string>
            </dict>
            <key>button_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,342},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>button_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,370},{104,58}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{104,58}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,480},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>font_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,440},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{16,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{16,36}}</string>
                <key>sourceSize</key>
                <string>{16,44}</string>
            </dict>
            <key>font_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,440},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,454},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,416},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,414},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,394},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,368},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,378},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>font_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,340},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,44}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>medals_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,368},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,370},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,294},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>medals_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,116},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>number_context_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,278},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,150},{2,10}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{2,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,278},{8,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,278},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,278},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,278},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,500},{8,10}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,488},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,278},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,278},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{8,10}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_context_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,32},{6,6}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{6,6}}</string>
                <key>sourceSize</key>
                <string>{12,14}</string>
            </dict>
            <key>number_score_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,14},{6,16}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{6,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,276},{10,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,258},{10,16}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,240},{10,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,222},{10,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,204},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,186},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,168},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>number_score_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,150},{10,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{10,16}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>pipe2_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe2_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,48},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>score_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,14},{226,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{226,114}}</string>
                <key>sourceSize</key>
                <string>{238,126}</string>
            </dict>
            <key>text_game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{192,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{192,42}}</string>
                <key>sourceSize</key>
                <string>{204,54}</string>
            </dict>
            <key>text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,294},{184,50}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{184,50}}</string>
                <key>sourceSize</key>
                <string>{196,62}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,360},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>tutorial.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,242},{114,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,98}}</string>
                <key>sourceSize</key>
                <string>{114,98}</string>
            </dict>
            <key>white.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,478},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flappybird.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bd83b32eeff059ad82ffec444de7881:1/1$</string>
            <key>textureFileName</key>
            <string>flappybird.png</string>
        </dict>
    </dict>
</plist>
